__pycache__
.idea
.run
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
*.jpg
*.png
*.pt
*.onnx
*.csv
_.py
# -------------------------------------------------------------------------------------------------------------------- #
/wandb/