__pycache__
.git
.run
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
*.pt
*.jpg
*.png
*.csv
*.onnx
# -------------------------------------------------------------------------------------------------------------------- #
/wandb/